anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.3
certifi==2025.7.9
cffi==1.17.1
channels==4.2.2
channels_redis
charset-normalizer==3.4.2
cleo==2.1.0
constantly==23.10.4
crashtest==0.4.1
cryptography==45.0.4
daphne==4.2.0
defusedxml==0.7.1
distlib==0.3.9
dj-database-url==3.0.1
Django==4.2.10
django-mongoengine==0.5.6
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.16.0
dnspython==2.7.0
dotenv==0.9.9
dulwich==0.22.8
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
keyring==25.6.0
mongoengine==0.29.1
more-itertools==10.7.0
msgpack==1.1.1
numpy==2.3.1
oauthlib==3.3.1
packaging==25.0
pandas==2.3.0
pbs-installer==2025.7.8
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs==4.3.8
poetry==2.1.3
poetry-core==2.1.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pymongo==4.13.2
pyOpenSSL==25.1.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-linkedin==4.1
python3-openid==3.2.0
pytz==2025.2
RapidFuzz==3.13.0
redis==6.2.0
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
service-identity==24.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
social-auth-app-django==4.0.0  # 👈 downgraded for Django compatibility
social-auth-core==4.7.0
sqlparse==0.5.3
tomlkit==0.13.3
trove-classifiers==2025.5.9.12
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
whitenoise==6.5.0
xattr==1.1.4
xlsxwriter==3.2.5
zope.interface==7.2
zstandard==0.23.0
gunicorn==22.0.0
twisted[http2,tls]
h2==4.2.0
hyperframe==6.1.0
hpack==4.1.0
priority==1.3.0
pyOpenSSL
service-identity
uvicorn
websockets==12.0
uvicorn[standard]==0.29.0
